<!DOCTYPE HTML>
<html>

<head>
    <title>Analysis</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="keywords" content="" />
    <script type="application/x-javascript"> addEventListener("load", function() { setTimeout(hideURLbar, 0); }, false); function hideURLbar(){ window.scrollTo(0,1); } </script>

    <!-- Bootstrap Core CSS -->
    <link href="../static/css/bootstrap.css" rel='stylesheet' type='text/css' />

    <!-- Custom CSS -->
    <link href="../static/css/style.css" rel='stylesheet' type='text/css' />

    <!-- font-awesome icons CSS -->
    <link href="../static/css/font-awesome.css" rel="stylesheet">
    <!-- //font-awesome icons CSS -->

    <!-- side nav css file -->
    <link href='../static/css/SidebarNav.min.css' media='all' rel='stylesheet' type='text/css' />
    <!-- side nav css file -->

    <!-- js-->
    <script src="../static/js/modernizr.custom.js"></script>

    <!--webfonts-->
    <link href="http://fonts.googleapis.com/css?family=PT+Sans:400,400i,700,700i&amp;subset=cyrillic,cyrillic-ext,latin-ext"
        rel="stylesheet">
    <!--//webfonts-->

    <!-- Metis Menu -->
    <script src="../static/js/metisMenu.min.js"></script>
    <script src="../static/js/custom.js"></script>
    <link href="../static/css/custom.css" rel="stylesheet">
    <!--//Metis Menu -->

    <link href="../static/css/style2.css" rel="stylesheet">
    <link href="../static/css/my.css" rel="stylesheet">
</head>

<body class="cbp-spmenu-push">
    <div class="cbp-spmenu cbp-spmenu-vertical cbp-spmenu-left main-menu" id="cbp-spmenu-s1">
        <!--left-fixed -navigation-->
        <aside class="sidebar-left">
            <nav class="navbar navbar-inverse">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target=".collapse"
                        aria-expanded="false">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    {% if number %}
                    <h1><a class="navbar-brand" href="#"><span class="fa fa-database"></span> Database {{number[1]}}<span
                                class="dashboard_text">Analysis
                                System</span></a></h1>
                    {% else%}
                    <h1><a class="navbar-brand" href="#"><span class="fa fa-database"></span> Database <span class="dashboard_text">Analysis
                                System</span></a></h1>
                    {% endif %}
                </div>
                <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                    <ul class="sidebar-menu">
                        <li class="header">MAIN NAVIGATION</li>
                        <li class="treeview">
                            <a href="homepage">
                                <i class="fa fa-home"></i> <span>Homepage</span>
                            </a>
                        </li>
                        <li class="treeview">
                            <a href="#">
                                <i class="fa fa-book"></i> <span>Background</span>
                            </a>
                        </li>
                        <li class="treeview">
                            <a href="Upload Database">
                                <i class="fa fa-upload"></i> <span>Upload Database</span>
                            </a>
                        </li>
                        <li class="treeview">
                            <a href="analysis">
                                <i class="fa fa-bar-chart"></i> <span>Analysis</span>
                            </a>
                        </li>
                        <li class="treeview">
                            <a href="recommendation">
                                <i class="fa fa-thumbs-o-up"></i> <span>Recommendation</span>
                            </a>
                        </li>
                        <li class="treeview">
                            <a href="#">
                                <i class="fa fa-book"></i> <span>Acknowledge</span>
                            </a>
                        </li>
                    </ul>
                </div>
                <!-- /.navbar-collapse -->
            </nav>
        </aside>
    </div>
    <!--left-fixed -navigation-->
    <div style="margin-left: 20%; margin-top: 30px; margin-right: 100px;">
        <div class="heading text-center">
            <h4 style="color: #252525;font-size: 24px;">Simple Selection</h4>
            <hr>
        </div>
        <div class=" form-grids row form-grids-right">
            <div class="widget-shadow ">
                <div class="form-title">
                    <h4 style="text-transform:none;">Please input the information you want to get:</h4>
                </div>
                <div class="form-body">
                    <form class="form-horizontal">
                        <div class="form-group">
                            <label class="col-sm-2 control-label" style="font-size:18px;">Search From</label>
                            <div class="col-sm-9">
                                <select id="collection" class="form-control1" style="font-size:18px;" onclick="item_list()">
                                    <option>Please select a collection</option>
                                    <option value="Business">Business</option>
                                    <option value="User">User</option>
                                    <option value="Review">Review</option>
                                </select>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-2 control-label" style="font-size:18px;">By</label>
                            <div class="col-sm-9">
                                <select id="default_item" class="form-control1" style="display:block;font-size:18px;">
                                    <option>Please select a item</option>
                                </select>
                                <select id="business_item" class="form-control1" style="display:none;font-size:18px;">
                                    <option>Please select a item</option>
                                    <option value="_id">id</option>
                                    <option value="name">business name</option>
                                    <option value="bstar">star</option>
                                    <option value="state">state</option>
                                    <option value="city">city</option>
                                    <option value="category">category</option>
                                    <option value="latitude">latitude</option>
                                    <option value="longtitude">longtitude</option>
                                    <option value="zipcode">zipcode</option>
                                    <option value="review_count">review count</option>
                                </select>
                                <select id="user_item" class="form-control1" style="display:none;font-size:18px;">
                                    <option>Please select a item</option>
                                    <option value="_id">id</option>
                                    <option value="average_star">average star</option>
                                    <option value="signup_date">signup date</option>
                                    <option value="review_count">review count</option>
                                </select>
                                <select id="review_item" class="form-control1" style="display:none;font-size:18px;">
                                    <option>Please select a item</option>
                                    <option value="_id">id</option>
                                    <option value="bid">business id</option>
                                    <option value="uid">user id</option>
                                    <option value="review">review</option>
                                    <option value="rstars">review star</option>
                                    <option value="rdate">review date</option>
                                </select>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-2 control-label" style="font-size:18px;">Value</label>
                            <div class="col-sm-9">
                                <input style="font-size:18px;" class="form-control" id="value" placeholder="Please input the value you want to check">
                            </div>
                        </div>
                        <div class="col-sm-offset-5">
                            <button type="submit" class="btn btn-default" onclick="simple_query()">Submit</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
        <br />
        <br />
        <div class="heading text-center">
            <h4 style="color: #252525;font-size: 24px;">Analysis</h4>
            <hr>
        </div>
        <div class=" form-grids row form-grids-right">
            <div class="widget-shadow ">
                <div class="form-title">
                    <h4 style="text-transform:none;">To get the rating distribution of a state:</h4>
                </div>
                <div class="form-body">
                    <form class="form-horizontal">
                        <div class="form-group">
                            <label class="col-sm-4 control-label" style="font-size:18px;">Please select a state</label>
                            <div class="col-sm-7">
                                <select id="collection" class="form-control1" style="font-size:18px;">
                                    <option>NC</option>
                                    <option>LA</option>
                                </select>
                            </div>
                        </div>
                        <div class="col-sm-offset-5">
                            <button type="submit" class="btn btn-default" onclick="rating_distribution()">Submit</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
        <img src="{{ url_for('show_distribution') }}" alt="Image Placeholder" height="500">
        <br />
        <div class=" form-grids row form-grids-right">
            <div class="widget-shadow ">
                <div class="form-title">
                    <h4 style="text-transform:none;">To get the rating history of a business:</h4>
                </div>
                <div class="form-body">
                    <form class="form-horizontal">
                        <div class="form-group">
                            <label class="col-sm-4 control-label" style="font-size:18px;">Please input a business id</label>
                            <div class="col-sm-7">
                                <input style="font-size:18px;" class="form-control" id="business_id_rating" placeholder="Please input the business id">
                            </div>
                        </div>
                        <div class="col-sm-offset-5">
                            <button type="submit" class="btn btn-default" onclick="rating_history()">Submit</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
        <br />
        <div class=" form-grids row form-grids-right">
            <div class="widget-shadow ">
                <div class="form-title">
                    <h4 style="text-transform:none;">To get the wordcloud for a business:</h4>
                </div>
                <div class="form-body">
                    <form class="form-horizontal">
                        <div class="form-group">
                            <label class="col-sm-4 control-label" style="font-size:18px;">Please input a business id</label>
                            <div class="col-sm-7">
                                <input style="font-size:18px;" class="form-control" id="business_id_wordcloud"
                                    placeholder="Please input the business id">
                            </div>
                        </div>
                        <div class="col-sm-offset-5">
                            <button type="submit" class="btn btn-default" onclick="wordcloud()">Submit</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
        <br />
    </div>
    <script>
        function item_list() {
            var collection = document.getElementById("collection").value;
            var default_list = document.getElementById("default_item");
            var business_list = document.getElementById("business_item");
            var user_list = document.getElementById("user_item");
            var review_list = document.getElementById("review_item");
            if (collection == "Business") {
                default_list.style.display = "none";
                business_list.style.display = "block";
                user_list.style.display = "none";
                review_list.style.display = "none";
            }
            else if(collection == "User") {
                default_list.style.display = "none";
                business_list.style.display = "none";
                user_list.style.display = "block";
                review_list.style.display = "none";
            }
            else if(collection == "Review") {
                default_list.style.display = "none";
                business_list.style.display = "none";
                user_list.style.display = "none";
                review_list.style.display = "block";
            }
            else {
                default_list.style.display = "block";
                business_list.style.display = "none";
                user_list.style.display = "none";
                review_list.style.display = "none";
            }
        }
        function simple_query() {

        }
        function rating_distribution() {

        }
        function rating_history() {

        }
        function wordcloud() {

        }
    </script>
</body>

</html>