<!DOCTYPE HTML>
<html>

<head>
    <title>Homepage</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="keywords" content="" />
    <script type="application/x-javascript"> addEventListener("load", function() { setTimeout(hideURLbar, 0); }, false); function hideURLbar(){ window.scrollTo(0,1); } </script>

    <!-- Bootstrap Core CSS -->
    <link href="../static/css/bootstrap.css" rel='stylesheet' type='text/css' />

    <!-- Custom CSS -->
    <link href="../static/css/style.css" rel='stylesheet' type='text/css' />

    <!-- font-awesome icons CSS -->
    <link href="../static/css/font-awesome.css" rel="stylesheet">
    <!-- //font-awesome icons CSS -->

    <!-- side nav css file -->
    <link href='../static/css/SidebarNav.min.css' media='all' rel='stylesheet' type='text/css' />
    <!-- side nav css file -->

    <!-- js-->
    <script src="../static/js/modernizr.custom.js"></script>

    <!--webfonts-->
    <link href="http://fonts.googleapis.com/css?family=PT+Sans:400,400i,700,700i&amp;subset=cyrillic,cyrillic-ext,latin-ext"
        rel="stylesheet">
    <!--//webfonts-->

    <!-- Metis Menu -->
    <script src="../static/js/metisMenu.min.js"></script>
    <script src="../static/js/custom.js"></script>
    <link href="../static/css/custom.css" rel="stylesheet">
    <!--//Metis Menu -->

    <link href="../static/css/style2.css" rel="stylesheet">
    <link href="../static/css/my.css" rel="stylesheet">
</head>

<body class="cbp-spmenu-push">
    <div class="cbp-spmenu cbp-spmenu-vertical cbp-spmenu-left main-menu" id="cbp-spmenu-s1">
        <!--left-fixed -navigation-->
        <aside class="sidebar-left">
            <nav class="navbar navbar-inverse">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target=".collapse"
                        aria-expanded="false">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    {% if number %}
                    <h1><a class="navbar-brand" href="#"><span class="fa fa-database"></span> Database {{number[1]}}<span
                                class="dashboard_text">Analysis
                                System</span></a></h1>
                    {% else%}
                    <h1><a class="navbar-brand" href="#"><span class="fa fa-database"></span> Database <span class="dashboard_text">Analysis
                                System</span></a></h1>
                    {% endif %}
                </div>
                <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                    <ul class="sidebar-menu">
                        <li class="header">MAIN NAVIGATION</li>
                        <li class="treeview">
                            <a href="homepage">
                                <i class="fa fa-home"></i> <span>Homepage</span>
                            </a>
                        </li>
                        <li class="treeview">
                            <a href="#">
                                <i class="fa fa-book"></i> <span>Background</span>
                            </a>
                        </li>
                        <li class="treeview">
                            <a href="Upload Database">
                                <i class="fa fa-upload"></i> <span>Upload Database</span>
                            </a>
                        </li>
                        <li class="treeview">
                            <a href="analysis">
                                <i class="fa fa-bar-chart"></i> <span>Analysis</span>
                                <i class="fa fa-angle-left pull-right"></i>
                            </a>
                            <ul class="treeview-menu">
                                <li><a href="#"><i class="fa fa-angle-right"></i> Search</a></li>
                                <li><a href="#"><i class="fa fa-angle-right"></i> Register</a></li>
                            </ul>
                        </li>
                        <li class="treeview">
                            <a href="#">
                                <i class="fa fa-book"></i> <span>Acknowledge</span>
                            </a>
                        </li>
                    </ul>
                </div>
                <!-- /.navbar-collapse -->
            </nav>
        </aside>
    </div>
    <!--left-fixed -navigation-->
    <div style="margin-left: 20%; margin-top: 30px">
        <div class="heading text-center">
            <h4 style="color: #252525;font-size: 24px;">Simple Selection</h4>
            <hr>
        </div>
        <div class=" form-grids row form-grids-right">
            <div class="widget-shadow " data-example-id="basic-forms">
                <div class="form-title">
                    <h4>Please input the information you want to get:</h4>
                </div>
                <div class="form-body">
                    <form class="form-horizontal">
                        <div class="form-group">
                            <label for="inputEmail3" class="col-sm-2 control-label">Search From</label>
                            <div class="form-group">
                                <label for="selector1" class="col-sm-2 control-label">Dropdown Select</label>
                                <div class="col-sm-8">
                                    <select name="selector1" id="selector1" class="form-control1">
                                        <option>Please select a collection</option>
                                        <option>Business</option>
                                        <option>User</option>
                                        <option>Review</option>
                                    </select>
                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="inputPassword3" class="col-sm-2 control-label">Password</label>
                            <div class="col-sm-9">
                                <input type="password" class="form-control" id="inputPassword3" placeholder="Password">
                            </div>
                        </div>
                        <div class="col-sm-offset-2">
                            <button type="submit" class="btn btn-default">Sign in</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
        <h4 class="col-md-2" style="display:inline; width: 300px;">Search &nbsp;</h4>
        <select id=collection class="col-md-10" style="display:inline; font-size: 16px;">
            <option>Please select the collection</option>
            <option>Business</option>
            <option>User</option>
            <option>Review</option>
        </select>
        <br />
        <h4 style="display:inline">By &nbsp;</h4>
        <select id=item style="display:inline; font-size: 16px;">
            <option>Please select the item</option>
            <option>id</option>
        </select>
        <br />
        <h4 style="display:inline">Value</h4>
        <div style="display:inline">
            <label style="font-size: 18px;font-weight: normal; color: #666666;"><input class="input_text_style" type="text"
                    id="value" /></label>
        </div>
        <div class="heading text-center">
            <h4 style="color: #252525;font-size: 24px;">Analysis</h4>
            <hr>
        </div>
        <h4 style="text-transform:none;">To get the rating distribution of a state:</h4>
        <br />
        <h5 style="text-transform:none; margin-left: 30px;display:inline;">Please select a state:</h5>
        <select id=state style="margin-left: 30px;display:inline;">
            <option>NC</option>
            <option>LA</option>
        </select>
        <br />
        <h4 style="text-transform:none;">To get the rating history of a business:</h4>
        <br />
        <h4 style="text-transform:none;">To get the wordcloud for a business:</h4>
        <br />
    </div>
</body>

</html>