<!DOCTYPE HTML>
<html>

<head>
	<title>Homepage</title>
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
	<meta name="keywords" content="" />
	<script type="application/x-javascript"> addEventListener("load", function() { setTimeout(hideURLbar, 0); }, false); function hideURLbar(){ window.scrollTo(0,1); } </script>

	<!-- Bootstrap Core CSS -->
	<link href="../static/css/bootstrap.css" rel='stylesheet' type='text/css' />

	<!-- Custom CSS -->
	<link href="../static/css/style.css" rel='stylesheet' type='text/css' />

	<!-- font-awesome icons CSS -->
	<link href="../static/css/font-awesome.css" rel="stylesheet">
	<!-- //font-awesome icons CSS -->

	<!-- side nav css file -->
	<link href='../static/css/SidebarNav.min.css' media='all' rel='stylesheet' type='text/css' />
	<!-- side nav css file -->

	<!-- js-->
	<script src="../static/js/modernizr.custom.js"></script>

	<!--webfonts-->
	<link href="http://fonts.googleapis.com/css?family=PT+Sans:400,400i,700,700i&amp;subset=cyrillic,cyrillic-ext,latin-ext"
	 rel="stylesheet">
	<!--//webfonts-->

	<!-- Metis Menu -->
	<script src="../static/js/metisMenu.min.js"></script>
	<script src="../static/js/custom.js"></script>
	<link href="../static/css/custom.css" rel="stylesheet">
	<!--//Metis Menu -->

	<script src="../static/js/modernizr.js"></script>
	<!-- SLIDER REVOLUTION 4.x CSS SETTINGS
<link rel="stylesheet" type="text/css" href="rs-plugin/rs-plugin/css/settings.css" media="screen" /> -->

	<!-- Bootstrap Core CSS -->
	<link href="../static/css/bootstrap.min.css" rel="stylesheet">
	<!-- Custom CSS -->
	<link href="../static/css/font-awesome.min.css" rel="stylesheet" type="text/css">
	<link href="../static/css/ionicons.min.css" rel="stylesheet">
	<link href="../static/css/main.css" rel="stylesheet">
	<link href="../static/css/style2.css" rel="stylesheet">
	<link href="../static/css/responsive.css" rel="stylesheet">

	<!-- COLORS -->
	<link rel="stylesheet" id="color" href="../static/css/default.css">

</head>

<body class="cbp-spmenu-push">
	<div class="cbp-spmenu cbp-spmenu-vertical cbp-spmenu-left main-menu" id="cbp-spmenu-s1">
		<!--left-fixed -navigation-->
		<aside class="sidebar-left">
			<nav class="navbar navbar-inverse">
				<div class="navbar-header">
					<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target=".collapse" aria-expanded="false">
						<span class="sr-only">Toggle navigation</span>
						<span class="icon-bar"></span>
						<span class="icon-bar"></span>
						<span class="icon-bar"></span>
					</button>
					<h1><a class="navbar-brand" href="#"><span class="fa fa-database"></span> Review <span class="dashboard_text">Analysis
								System</span></a></h1>
				</div>
				<div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
					<ul class="sidebar-menu">
						<li class="treeview">
							<a href="homepage">
								<i class="fa fa-home"></i> <span>Homepage</span>
							</a>
						</li>
						<li class="treeview">
							<a href="background">
								<i class="fa fa-book"></i> <span>Background</span>
							</a>
						</li>
						<li class="treeview">
							<a href="upload">
								<i class="fa fa-upload"></i> <span>Upload Database</span>
							</a>
						</li>
						<li class="treeview">
							<a href="status">
								<i class="fa fa-book"></i> <span>Database Status</span>
							</a>
						</li>
						<li class="treeview">
							<a href="analysis">
								<i class="fa fa-bar-chart"></i> <span>Analysis</span>
							</a>
						</li>
						<li class="treeview">
							<a href="recommendation">
								<i class="fa fa-thumbs-o-up"></i> <span>Recommendation</span>
							</a>
						</li>
						<li class="treeview">
							<a href="acknowledge">
								<i class="fa fa-book"></i> <span>Acknowledge</span>
							</a>
						</li>
					</ul>
				</div>
				<!-- /.navbar-collapse -->
			</nav>
		</aside>
	</div>
	<!--left-fixed -navigation-->
	<div class="heading text-center" style="margin-left: 20%; margin-top: 60px; margin-right: 100px;">
		<h4 style="color: #252525;font-size: 24px;">-- Welcome Business Runner --</h4>
		<hr>
	</div>
	<div class="offers" style="margin-left: 20%; margin-top: 60px; margin-right: 100px;">
		<h5>Want to Check Your Basic Information?</h5>
		<p>Please tell us your name or business id.</p><br />
		<form action="" method="post" id="businessInfo" name="businessInfo">
			<ul class="row">
				<li class="col-sm-4">
					<label style="font-size: 18px;" for="business_name">Business Name</label><br>
					<input class="form-control" style="font-size: 18px; width: 100%;" type="text" name="business_name" id="business_name"
					 placeholder="Maggie & Stella's Gifts">
				</li>
				<li class="col-sm-4">
					<label style="font-size: 18px;" for="business_id">Business ID</label><br>
					<input class="form-control" style="font-size: 18px; width: 100%;" type="text" name="business_id" id="business_id"
					 placeholder="UTm5QZThPQlT35mkAcGOjg">
				</li>
			</ul>
			<br><br><br>
			<input type="button" class="btn btn-default" value="Check Information" onclick="check_business_info()">
		</form>
	</div>
	<div id="search_business" style="display:none;margin-left: 20%;">
		<br />
		<h5>result</h5>
		<div id="search_business_result"></div>
	</div>
	<script>
		function check_business_info() {
			var business_name = document.getElementById('business_name').value;
			var business_id = document.getElementById('business_id').value;
			var result = document.getElementById("search_business");
			$.post("/check_business_info/" + business_id + "/" + business_name, function (data, status) {
				var get_data = JSON.parse(data);
				var para = document.getElementById("search_business_result");
				for (var key_num in get_data) {
					var item = get_data[key_num];
					var item_block = document.createElement("div");
					item_block.className = "widget-shadow";
					var item_seperate = document.createElement("hr");
					item_block.appendChild(item_seperate);
					for (var key in item) {
						var line = document.createElement("div")
						var name = document.createElement("div");
						name.className = "col-sm-3"
						var line_name = document.createElement("p");
						var content_name = document.createTextNode(key);
						line_name.appendChild(content_name);
						name.appendChild(line_name);
						line.appendChild(name);
						var value = document.createElement("div");
						value.className = "col-sm-8"
						var line_value = document.createElement("p");
						var content_value = document.createTextNode(item[key]);
						line_value.appendChild(content_value);
						value.appendChild(line_value);
						line.appendChild(value);
						item_block.appendChild(line);
					}
					para.appendChild(item_block);
				}
				result.style.display = "block";
			});
		}
	</script>
	<br>
	<hr style="margin-left: 25%; margin-right: 10%;">
	<div class="offers" style="margin-left: 20%; margin-top: 60px; margin-right: 100px;">
		<h5>Want to Check The Rating History for Your Business?</h5>
		<p>Please tell us your business id.</p><br>
		<form action="" method="post" id="rating_history" name="rating_history">
			<label style="font-size: 18px;" for="business_id_rating">Business ID</label>
			<input class="form-control" style="font-size: 18px; width: 30%;" type="text" name="business_id_rating" id="business_id_rating"
			 placeholder="UTm5QZThPQlT35mkAcGOjg">
			<br><br><br>
			<input type="button" class="btn btn-default" value="Check Information" onclick="rating_history()">
		</form>
	</div>
	<img style="margin-left:20%;display:none; text-align:center;" id="img_ratings">
	<script>
		function rating_history() {
            var business_id = document.getElementById("business_id_rating").value;
            var img_ratings = document.getElementById("img_ratings");
            $("#img_ratings").attr("src", "/ratings/image/" + business_id);
            img_ratings.style.display = "block";
        }
	</script>
	<br>
	<hr style="margin-left: 25%; margin-right: 10%;">
	<div class="offers" style="margin-left: 20%; margin-top: 60px; margin-right: 100px;">
		<h5>Find Out the Rating Distribution in Your State?</h5>
		<p>Please tell us which state are you in.</p><br>
		<form action="" method="post" id="state_distribution" name="state_distribution">
			<label style="font-size: 18px;" for="state">State Name</label>
			<input class="form-control" style="font-size: 18px; width: 30%;" type="text" name="state" id="state" placeholder="NC">
			<br><br><br>
			<input type="button" class="btn btn-default" value="Check Distribution" style="margin-bottom: 100px;" onclick="rating_distribution()">
		</form>
	</div>
	<img style="margin-left: 20%;display:none; text-align:center;" id="img_distribution">
	<script>
		function rating_distribution() {
            var state_distribution = document.getElementById("state").value;
            var img_distribution = document.getElementById("img_distribution");
            $("#img_distribution").attr("src", "/distribution/image/" + state_distribution);
            img_distribution.style.display = "block";
        }
	</script>

</body>

</html>