<!DOCTYPE HTML>
<html>

<head>
	<title>Homepage</title>
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
	<meta name="keywords" content="" />
	<script type="application/x-javascript"> addEventListener("load", function() { setTimeout(hideURLbar, 0); }, false); function hideURLbar(){ window.scrollTo(0,1); } </script>

	<!-- Bootstrap Core CSS -->
	<link href="../static/css/bootstrap.css" rel='stylesheet' type='text/css' />

	<!-- Custom CSS -->
	<link href="../static/css/style.css" rel='stylesheet' type='text/css' />

	<!-- font-awesome icons CSS -->
	<link href="../static/css/font-awesome.css" rel="stylesheet">
	<!-- //font-awesome icons CSS -->

	<!-- side nav css file -->
	<link href='../static/css/SidebarNav.min.css' media='all' rel='stylesheet' type='text/css' />
	<!-- side nav css file -->

	<!-- js-->
	<script src="../static/js/modernizr.custom.js"></script>

	<!--webfonts-->
	<link href="http://fonts.googleapis.com/css?family=PT+Sans:400,400i,700,700i&amp;subset=cyrillic,cyrillic-ext,latin-ext"
	 rel="stylesheet">
	<!--//webfonts-->

	<!-- Metis Menu -->
	<script src="../static/js/metisMenu.min.js"></script>
	<script src="../static/js/custom.js"></script>
	<link href="../static/css/custom.css" rel="stylesheet">
	<!--//Metis Menu -->

	<script src="../static/js/modernizr.js"></script>
	<!-- SLIDER REVOLUTION 4.x CSS SETTINGS
<link rel="stylesheet" type="text/css" href="rs-plugin/rs-plugin/css/settings.css" media="screen" /> -->

	<!-- Bootstrap Core CSS -->
	<link href="../static/css/bootstrap.min.css" rel="stylesheet">
	<!-- Custom CSS -->
	<link href="../static/css/font-awesome.min.css" rel="stylesheet" type="text/css">
	<link href="../static/css/ionicons.min.css" rel="stylesheet">
	<link href="../static/css/main.css" rel="stylesheet">
	<link href="../static/css/style2.css" rel="stylesheet">
	<link href="../static/css/responsive.css" rel="stylesheet">

	<!-- COLORS -->
	<link rel="stylesheet" id="color" href="../static/css/default.css">
	<script src="https://code.jquery.com/jquery-3.3.1.min.js" integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8="
	 crossorigin="anonymous">
	</script>
</head>

<body class="cbp-spmenu-push">
	<div class="cbp-spmenu cbp-spmenu-vertical cbp-spmenu-left main-menu" id="cbp-spmenu-s1">
		<!--left-fixed -navigation-->
		<aside class="sidebar-left">
			<nav class="navbar navbar-inverse">
				<div class="navbar-header">
					<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target=".collapse" aria-expanded="false">
						<span class="sr-only">Toggle navigation</span>
						<span class="icon-bar"></span>
						<span class="icon-bar"></span>
						<span class="icon-bar"></span>
					</button>
					<h1><a class="navbar-brand" href="#"><span class="fa fa-database"></span> Review <span class="dashboard_text">Analysis
								System</span></a></h1>
				</div>
				<div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
					<ul class="sidebar-menu">
						<li class="treeview">
							<a href="homepage">
								<i class="fa fa-home"></i> <span>Homepage</span>
							</a>
						</li>
						<li class="treeview">
							<a href="background">
								<i class="fa fa-book"></i> <span>Background</span>
							</a>
						</li>
						<li class="treeview">
							<a href="upload">
								<i class="fa fa-upload"></i> <span>Upload Database</span>
							</a>
						</li>
						<li class="treeview">
							<a href="status">
								<i class="fa fa-book"></i> <span>Database Status</span>
							</a>
						</li>
						<li class="treeview">
							<a href="analysis">
								<i class="fa fa-bar-chart"></i> <span>Analysis</span>
							</a>
						</li>
						<li class="treeview">
							<a href="recommendation">
								<i class="fa fa-thumbs-o-up"></i> <span>Recommendation</span>
							</a>
						</li>
						<li class="treeview">
							<a href="acknowledge">
								<i class="fa fa-book"></i> <span>Acknowledge</span>
							</a>
						</li>
					</ul>
				</div>
				<!-- /.navbar-collapse -->
			</nav>
		</aside>
	</div>
	<!--left-fixed -navigation-->
	<div class="heading text-center" style="margin-left: 20%; margin-top: 60px; margin-right: 100px;">
		<h4 style="color: #252525;font-size: 24px;">-- Welcome Customer --</h4>
		<hr>
	</div>
	<div class="offers" style="margin-left: 20%; margin-top: 60px; margin-right: 100px;">
		<h5>Want to Check Your Profile?</h5>
		<p>Please tell us your name or user id.</p><br>
		<form action="" method="post" id="customerInfo" name="cunstomerInfo">
			<ul class="row">
				<li class="col-sm-3">
					<label style="font-size: 18px;" for="user_name">User Name</label><br>
					<input class="form-control" style="font-size: 18px; width: 100%;" type="text" name="user_name" id="user_name">
				</li>
				<li class="col-sm-3">
					<label style="font-size: 18px;" for="user_id">User ID</label><br>
					<input class="form-control" style="font-size: 18px; width: 100%;" type="text" name="user_id" id="user_id">
				</li>
			</ul>
			<br><br><br>
			<input type="button" class="btn btn-default" value="Check Profile" onclick="search_user()">
		</form>
	</div>
	<div id="search_user" style="display:none;margin-left: 20%;margin-right: 40px;">
		<h4>Search Result:</h4>
		<div class="bs-example widget-shadow">
			<table class="table">
				<thead>
					<tr id="search_user_title">
						<th style="margin-left: 20px;">#</th>
					</tr>
				</thead>
				<tbody id="search_user_result">
				</tbody>
			</table>
		</div>
	</div>
	<script>
		function search_user() {
			var user_id = document.getElementById("user_id").value;
			var user_name = document.getElementById("user_name").value;
			if (user_id == "" && user_name == "") {
				alert("Invalid Input: Empty Input.");
			}
			else {
				user_id = (user_id != "") ? user_id : "_";
				user_name = (user_name != "") ? user_name : "_";
				$.post("/search_user/" + user_id + "/" + user_name, function (data, status) {
					var get_data = JSON.parse(data);
					var title_list = get_data[0];
					var table = document.getElementById("search_user");
					var titles = document.getElementById("search_user_title");
					var result = document.getElementById("search_user_result");
					for (var title in title_list) {
						var title_th = document.createElement("th");
						var title_value = document.createTextNode(title_list[title]);
						title_th.appendChild(title_value);
						titles.appendChild(title_th);
					}
					for (var key_num in get_data) {
						if (key_num == 0) {
							continue;
						}
						var item = get_data[key_num];
						var line = document.createElement("tr");
						if (key_num % 2 == 0) {
							line.className = 'active';
						}
						var num = document.createElement('th');
						var num_value = document.createTextNode(String(key_num));
						num.style = "margin-left: 20px;"
						num.scope = "row";
						num.appendChild(num_value);
						line.appendChild(num);
						for (var title in title_list) {
							var content_td = document.createElement("td");
							var content_value = document.createTextNode(item[title_list[title]]);
							content_td.appendChild(content_value);
							line.appendChild(content_td);
						}
						result.appendChild(line);
					}
					table.style.display = "block";
				});
			}
		}
	</script>
	<br>
	<hr style="margin-left: 25%; margin-right: 10%;">
	<div class="offers" style="margin-left: 20%; margin-top: 60px; margin-right: 100px;">
		<h5>Want to Find a Business?</h5>
		<p>Please fill in at least one of the following fields.</p><br>
		<form action="" method="post" id="customerQuery" name="cunstomerQuery">
			<ul class="row">
				<li class="col-sm-3">
					<label style="font-size: 18px;" for="business_name">Business Name</label><br>
					<input class="form-control" style="font-size: 18px; width: 100%;" type="text" name="business_name" id="business_name">
				</li>
				<li class="col-sm-3">
					<label style="font-size: 18px;" for="state">State</label><br>
					<input class="form-control" style="font-size: 18px; width: 100%;" type="text" name="state" id="state" placeholder="eg. PA">
				</li>
				<li class="col-sm-3">
					<label style="font-size: 18px;" for="review_count">Number of Reviews</label><br>
					<input class="form-control" style="font-size: 18px; width: 100%;" type="number" name="review_count" id="review_ount"
					 min="0" value=0>
				</li>
				<li class="col-sm-3">
					<label style="font-size: 18px;" for="star_small">Rating Star Between</label><br>
					<input class="form-control" style="font-size: 18px; width: 30%;" type="number" name="star_small" id="star_small"
					 min="0" max="5">
					<label for="star_big"> and </label>
					<input class="form-control" style="font-size: 18px; width: 30%;" type="number" name="star_big" id="star_big" min="0"
					 max="5">
				</li>
			</ul>
			<br><br><br>
			<input type="button" class="btn btn-default" value="See Result" onclick="search_business()">
		</form>
	</div>
	<div id="search_business" style="display:none;margin-left: 20%;margin-right: 40px;">
		<h4>Search Result:</h4>
		<div class="bs-example widget-shadow">
			<table class="table">
				<thead>
					<tr id="search_business_title">
						<th style="margin-left: 20px;">#</th>
					</tr>
				</thead>
				<tbody id="search_business_result">
				</tbody>
			</table>
		</div>
	</div>
	<script>
		function search_business() {
			var business_name = document.getElementById('business_name').value;
			var state = document.getElementById('state').value;
			var review_count = 0;
			if (document.getElementById('review_count') != null) {
				review_count = document.getElementById('review_count').value;
			}
			var star_small = document.getElementById('star_small').value;
			var star_big = document.getElementById('star_big').value;
			if (business_name == "" && state == "" && review_count == "" && star_small == "" && star_big == "") {
				alert("Invalid Input: Empty Input.");
			}
			else {
				business_name = (business_name != "") ? business_name : "_";
				state = (state != "") ? state : "_";
				review_count = (review_count != "") ? review_count : "_";
				star_small = (star_small != "") ? star_small : "_";
				star_big = (star_big != "") ? star_big : "_";
				$.post("/search_business/" + business_name + "/" + state + "/" + review_count + "/" + star_small + "/" + star_big, function (data, status) {
					var get_data = JSON.parse(data);
					var title_list = get_data[0];
					var table = document.getElementById("search_business");
					var titles = document.getElementById("search_business_title");
					var result = document.getElementById("search_business_result");
					for (var title in title_list) {
						var title_th = document.createElement("th");
						var title_value = document.createTextNode(title_list[title]);
						title_th.appendChild(title_value);
						titles.appendChild(title_th);
					}
					for (var key_num in get_data) {
						if (key_num == 0) {
							continue;
						}
						var item = get_data[key_num];
						var line = document.createElement("tr");
						if (key_num % 2 == 0) {
							line.className = 'active';
						}
						var num = document.createElement('th');
						var num_value = document.createTextNode(String(key_num));
						num.style = "margin-left: 20px;"
						num.scope = "row";
						num.appendChild(num_value);
						line.appendChild(num);
						for (var title in title_list) {
							var content_td = document.createElement("td");
							var content_value = document.createTextNode(item[title_list[title]]);
							content_td.appendChild(content_value);
							line.appendChild(content_td);
						}
						result.appendChild(line);
					}
					table.style.display = "block";
				});
			}
		}
	</script>
	<hr style="margin-left: 25%; margin-right: 10%;">
	<div class="offers" style="margin-left: 20%; margin-top: 60px; margin-right: 100px;">
		<h5>Want To Learn More About This Business?</h5>
		<p>Tell us its id and check the key words for it!</p><br>
		<form action="" method="post" id="customerInfo" name="cunstomerInfo">
			<label style="font-size: 18px;" for="wordcloud">Business ID: </label>
			<input class="form-control" style="font-size: 18px; width: 20%;" type="text" name="wordcloud" id="wordcloud">
			<br><br><br>
			<input type="button" class="btn btn-default" value="Check Key Words" onclick="wordcloud_func()">
		</form>
	</div>
	<img style="margin-left: 20%;display:none; text-align:center;" id="img_wordcloud">
	<script>
		function wordcloud_func() {
			var business_id = document.getElementById("wordcloud").value;
			if (business_id == "") {
				alert("Invalid Input: Empty Input.");
			}
			else {
				var img_wordcloud = document.getElementById("img_wordcloud");
				$("#img_wordcloud").attr("src", "/wordcloud/image/" + business_id);
				img_wordcloud.style.display = "block";
			}
		}
	</script>
	<hr style="margin-left: 25%; margin-right: 10%;">
	<div class="offers" style="margin-left: 20%; margin-top: 60px; margin-right: 100px;">
		<h5>Want To Get Recommendation for Business?</h5>
		<p>Please tell us your user id.</p><br>
		<form action="" method="post" id="customerInfo" name="cunstomerInfo">
			<ul class="row">
				<li class="col-sm-5">
					<label style="font-size: 18px;" for="user_id_rec">User ID: </label>
					<input class="form-control" style="font-size: 18px; width: 50%;" type="text" name="user_id_rec" id="user_id_rec">
				</li>
				<li class="col-sm-7">
					<label style="font-size: 18px;" for="rec_num">Number of Recommendations</label>
					<input class="form-control" type="number" name="rec_num" id="rec_num" min="0" max="10" placeholder="0 ~ 10" style="font-size: 18px;width:30%;">
				</li>
			</ul>
			<br><br><br>
			<input style="margin-bottom: 100px" type="button" class="btn btn-default" value="Get Recommandation" onclick="get_user_id()">
		</form>
	</div>
	<script>
		function get_user_id() {
			var user_info_box = document.getElementById("user_info");
			var user_id = document.getElementById("user_id_rec").value;
			var option_num = document.getElementById("rec_num").value;
			var visited = document.getElementById("visited");
			var para = document.getElementById("recommendation_block");
			var user_id_display = document.getElementById("user_id_display");
			if (user_id == "" || option_num == "") {
				alert("Invalid Input: Missing Input.");
			}
			else {
				$.post("/recommend/" + user_id + "/" + option_num, function (data, status) {
					var id_content = document.createTextNode("User ID: " + user_id);
					var id_h = document.createElement("h5");
					id_h.style = "text-transform:none;";
					id_h.appendChild(id_content);
					user_id_display.appendChild(id_h);
					var recommend = JSON.parse(data);
					for (var i = 0; i < option_num; i++) {
						var div = document.createElement("div");
						div.className = "widget-shadow";
						var title = document.createElement("div");
						title.className = "form-title";
						var body = document.createElement("div");
						body.className = "form-body";
						var title_h = document.createElement("h5");
						title_h.style = "text-transform:none;";
						var title_content = document.createTextNode("Recommendation " + String(i + 1));
						title_h.appendChild(title_content);
						title.appendChild(title_h);
						var name_content = document.createTextNode("Business name: " + recommend["0"][i]["name"]);
						var category_content = document.createTextNode("Category: " + recommend["0"][i]["category"]);
						var stars_content = document.createTextNode("Stars: " + recommend["0"][i]["stars"]);
						var address_content = document.createTextNode("Address: " + recommend["0"][i]["address"]);
						var name = document.createElement("h6");
						name.style = "text-transform:none;";
						var category = document.createElement("h6");
						category.style = "text-transform:none;";
						var stars = document.createElement("h6");
						stars.style = "text-transform:none;";
						var address = document.createElement("h6");
						address.style = "text-transform:none;";
						name.appendChild(name_content);
						category.appendChild(category_content);
						stars.appendChild(stars_content);
						address.appendChild(address_content);
						body.appendChild(name);
						body.appendChild(category);
						body.appendChild(stars);
						body.appendChild(address);
						div.appendChild(title);
						div.appendChild(body);
						para.appendChild(div);
					}
					for (var i = 0; i < recommend["1"].length; i++) {
						var div = document.createElement("div");
						div.className = "widget-shadow";
						var title = document.createElement("div");
						title.className = "form-title";
						var body = document.createElement("div");
						body.className = "form-body";
						var title_h = document.createElement("h5");
						title_h.style = "text-transform:none;";
						var title_content = document.createTextNode("Visited " + String(i + 1));
						title_h.appendChild(title_content);
						title.appendChild(title_h);
						var visited_name_content = document.createTextNode("Business name: " + recommend["1"][i]["name"]);
						var category_content = document.createTextNode("Category: " + recommend["1"][i]["categories"]);
						var stars_content = document.createTextNode("Stars: " + recommend["1"][i]["stars"]);
						var address_content = document.createTextNode("Address: " + recommend["1"][i]["address"]);
						var visited_name = document.createElement("h6");
						visited_name.style = "text-transform:none;";
						var category = document.createElement("h6");
						category.style = "text-transform:none;";
						var stars = document.createElement("h6");
						stars.style = "text-transform:none;";
						var address = document.createElement("h6");
						address.style = "text-transform:none;";
						visited_name.appendChild(visited_name_content);
						category.appendChild(category_content);
						stars.appendChild(stars_content);
						address.appendChild(address_content);
						body.appendChild(visited_name);
						body.appendChild(category);
						body.appendChild(stars);
						body.appendChild(address);
						div.appendChild(title);
						div.appendChild(body);
						visited.appendChild(div);
					}
					user_info_box.style.display = "block";
					para.style.display = "block";
				})
			}
		}
	</script>
	<br />
	<br />
	<div class="col-md-4 media_1-left widget-shadow" style="display: none; margin-left: 20%;" id="user_info">
		<div class="form-title">
			<h5 style="text-transform:none;">User Visit History</h5>
		</div>
		<div class="form-body">
			<div id="user_id_display"></div>
			<br />
			<br />
			<div id="visited"></div>
		</div>
	</div>
	<div class="col-md-4" style="display: none;" id="recommendation_block"> </div>
</body>

</html>