<!DOCTYPE HTML>
<html>

<head>
	<title>Homepage</title>
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
	<meta name="keywords" content="" />
	<script type="application/x-javascript"> addEventListener("load", function() { setTimeout(hideURLbar, 0); }, false); function hideURLbar(){ window.scrollTo(0,1); } </script>

	<!-- Bootstrap Core CSS -->
	<link href="../static/css/bootstrap.css" rel='stylesheet' type='text/css' />

	<!-- Custom CSS -->
	<link href="../static/css/style.css" rel='stylesheet' type='text/css' />

	<!-- font-awesome icons CSS -->
	<link href="../static/css/font-awesome.css" rel="stylesheet">
	<!-- //font-awesome icons CSS -->

	<!-- side nav css file -->
	<link href='../static/css/SidebarNav.min.css' media='all' rel='stylesheet' type='text/css' />
	<!-- side nav css file -->

	<!-- js-->
	<script src="../static/js/modernizr.custom.js"></script>

	<!--webfonts-->
	<link href="http://fonts.googleapis.com/css?family=PT+Sans:400,400i,700,700i&amp;subset=cyrillic,cyrillic-ext,latin-ext"
	 rel="stylesheet">
	<!--//webfonts-->

	<!-- Metis Menu -->
	<script src="../static/js/metisMenu.min.js"></script>
	<script src="../static/js/custom.js"></script>
	<link href="../static/css/custom.css" rel="stylesheet">
	<!--//Metis Menu -->

	<script src="../static/js/modernizr.js"></script>
	<!-- SLIDER REVOLUTION 4.x CSS SETTINGS
<link rel="stylesheet" type="text/css" href="rs-plugin/rs-plugin/css/settings.css" media="screen" /> -->

	<!-- Bootstrap Core CSS -->
	<link href="../static/css/bootstrap.min.css" rel="stylesheet">
	<!-- Custom CSS -->
	<link href="../static/css/font-awesome.min.css" rel="stylesheet" type="text/css">
	<link href="../static/css/ionicons.min.css" rel="stylesheet">
	<link href="../static/css/main.css" rel="stylesheet">
	<link href="../static/css/style2.css" rel="stylesheet">
	<link href="../static/css/responsive.css" rel="stylesheet">

	<!-- COLORS -->
	<link rel="stylesheet" id="color" href="../static/css/default.css">

</head>

<body class="cbp-spmenu-push">
	<div class="cbp-spmenu cbp-spmenu-vertical cbp-spmenu-left main-menu" id="cbp-spmenu-s1">
		<!--left-fixed -navigation-->
		<aside class="sidebar-left">
			<nav class="navbar navbar-inverse">
				<div class="navbar-header">
					<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target=".collapse" aria-expanded="false">
						<span class="sr-only">Toggle navigation</span>
						<span class="icon-bar"></span>
						<span class="icon-bar"></span>
						<span class="icon-bar"></span>
					</button>
					<h1><a class="navbar-brand" href="#"><span class="fa fa-database"></span> Review <span class="dashboard_text">Analysis
								System</span></a></h1>
				</div>
				<div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
					<ul class="sidebar-menu">
						<li class="treeview">
							<a href="homepage">
								<i class="fa fa-home"></i> <span>Homepage</span>
							</a>
						</li>
						<li class="treeview">
							<a href="background">
								<i class="fa fa-book"></i> <span>Background</span>
							</a>
						</li>
						<li class="treeview">
							<a href="upload">
								<i class="fa fa-upload"></i> <span>Upload Database</span>
							</a>
						</li>
						<li class="treeview">
							<a href="status">
								<i class="fa fa-book"></i> <span>Database Status</span>
							</a>
						</li>
						<li class="treeview">
							<a href="analysis">
								<i class="fa fa-bar-chart"></i> <span>Analysis</span>
							</a>
						</li>
						<li class="treeview">
							<a href="recommendation">
								<i class="fa fa-thumbs-o-up"></i> <span>Recommendation</span>
							</a>
						</li>
						<li class="treeview">
							<a href="acknowledge">
								<i class="fa fa-book"></i> <span>Acknowledge</span>
							</a>
						</li>
					</ul>
				</div>
				<!-- /.navbar-collapse -->
			</nav>
		</aside>
	</div>
    <!--left-fixed -navigation-->
    <div class="heading text-center" style="margin-left: 20%; margin-top: 60px; margin-right: 100px;">
            <h4 style="color: #252525;font-size: 24px;">-- Welcome Customer --</h4>
            <hr>
    </div>
    <div class="offers" style="margin-left: 20%; margin-top: 60px; margin-right: 100px;">
        <h5>Want to Check Your Profile?</h5>
        <p>Please tell us your name or user id.</p><br>
            <form action="" method="post" id="customerInfo" name="cunstomerInfo">
                <ul class="row">
                    <li class="col-sm-3"> 
                        <label style="font-size: 18px;" for="user_name">User Name</label><br>
                        <input class="form-control" style="font-size: 18px; width: 100%;" type="text" name="user_name" id="user_name" placeholder="Brandon">
                    </li>
                    <li class="col-sm-3"> 
                        <label style="font-size: 18px;" for="user_id">User ID</label><br>
                        <input class="form-control" style="font-size: 18px; width: 100%;" type="text" name="user_id" id="user_id" placeholder="5ON3bSSwfWIgqxn3cvRQsQ">
                    </li>
                </ul>
                <br><br><br>
                <input type="submit" class="btn btn-default" value="Check Profile" >
            </form>
    </div> 
    <br>
    <hr style="margin-left: 25%; margin-right: 10%;">
    <div class="offers" style="margin-left: 20%; margin-top: 60px; margin-right: 100px;">
        <h5>Want to Find a Business?</h5>
        <p>Please fill in at least one of the following fields.</p><br>
        <form action="" method="post" id="customerQuery" name="cunstomerQuery">
            <ul class="row">
                <li class="col-sm-3"> 
                    <label style="font-size: 18px;" for="business_name">Business Name</label><br>
                    <input class="form-control" style="font-size: 18px; width: 100%;" type="text" name="business_name" id="business_name" placeholder="Maggie & Stella's Gifts">
                </li>
                <li class="col-sm-3"> 
                    <label style="font-size: 18px;" for="state">State</label><br>
                    <input class="form-control" style="font-size: 18px; width: 100%;" type="text" name="state" id="state" placeholder="PA">
                </li>
                <li class="col-sm-3"> 
                        <label style="font-size: 18px;" for="review_count">Number of Reviews</label><br>
                        <input class="form-control" style="font-size: 18px; width: 100%;" type="number" name="review_count" id="review_ount" min="0">
                    </li>
                <li class="col-sm-3"> 
                    <label style="font-size: 18px;" for="star_small">Rating Star Between</label><br>
                    <input class="form-control" style="font-size: 18px; width: 30%;" type="number" name="star_small" id="star_small" min="0" max="5">
                    <label for="star_big"> and </label>
                    <input class="form-control" style="font-size: 18px; width: 30%;" type="number" name="star_big" id="star_big" min="0" max="5">
                </li>
            </ul>
            <br><br><br>
            <input type="submit" class="btn btn-default" value="See Result" >
        </form>
    </div>  
    <hr style="margin-left: 25%; margin-right: 10%;">
    <div class="offers" style="margin-left: 20%; margin-top: 60px; margin-right: 100px;">
        <h5>Want To Learn More About This Business?</h5>
        <p>Tell us its id and check the key words for it!</p><br>
        <form action="" method="post" id="customerInfo" name="cunstomerInfo">
                <label style="font-size: 18px;" for="wordcloud">Business ID: </label>
                <input class="form-control" style="font-size: 18px; width: 20%;" type="text" name="wordcloud" id="wordcloud" placeholder="UTm5QZThPQlT35mkAcGOjg">
            <br><br><br>
            <input type="submit" class="btn btn-default" value="Check Key Words" >
        </form>
    </div>  
    <hr style="margin-left: 25%; margin-right: 10%;">
    <div class="offers" style="margin-left: 20%; margin-top: 60px; margin-right: 100px;">
        <h5>Want To Get Recommendation for Business?</h5>
        <p>Please tell us your user id.</p><br>
        <form action="" method="post" id="customerInfo" name="cunstomerInfo">
            <ul class="row">
                <li class="col-sm-5"> 
                    <label style="font-size: 18px;" for="user_id_rec">User ID: </label>
                    <input class="form-control" style="font-size: 18px; width: 50%;" type="text" name="user_id_rec" id="user_id_rec" placeholder="6FipPoztACatZVr79r_Nng">
                </li>
                <li class="col-sm-7"> 
                    <label style="font-size: 18px;" for="rec_num">Number of Recommendations</label>
                    <input class="form-control" type="number" name="rec_num" id="rec_num" min="0" max="10" placeholder="3"style="font-size: 18px;width:30%;">
                </li>
            </ul>
            <br><br><br>
            <input style="margin-bottom: 100px" type="submit" class="btn btn-default" value="Get Recommandation" >
        </form>
    </div>  
      
</body>

</html>