<html>

<head>
    <title>Recommendation</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="keywords" content="" />
    <script src="https://code.jquery.com/jquery-3.3.1.min.js" integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8="
	 crossorigin="anonymous">
	</script>
    <!-- Bootstrap Core CSS -->
    <link href="../static/css/bootstrap.css" rel='stylesheet' type='text/css' />

    <!-- Custom CSS -->
    <link href="../static/css/style.css" rel='stylesheet' type='text/css' />

    <!-- font-awesome icons CSS -->
    <link href="../static/css/font-awesome.css" rel="stylesheet">
    <!-- //font-awesome icons CSS -->

    <!-- side nav css file -->
    <link href='../static/css/SidebarNav.min.css' media='all' rel='stylesheet' type='text/css' />
    <!-- side nav css file -->

    <!-- js-->
    <script src="../static/js/modernizr.custom.js"></script>

    <!--webfonts-->
    <link href="http://fonts.googleapis.com/css?family=PT+Sans:400,400i,700,700i&amp;subset=cyrillic,cyrillic-ext,latin-ext"
        rel="stylesheet">
    <!--//webfonts-->

    <!-- Metis Menu -->
    <script src="../static/js/metisMenu.min.js"></script>
    <script src="../static/js/custom.js"></script>
    <link href="../static/css/custom.css" rel="stylesheet">
    <!--//Metis Menu -->

    <link href="../static/css/style2.css" rel="stylesheet">
    <link href="../static/css/my.css" rel="stylesheet">
</head>

<body class="cbp-spmenu-push">
    <div class="cbp-spmenu cbp-spmenu-vertical cbp-spmenu-left main-menu" id="cbp-spmenu-s1">
        <!--left-fixed -navigation-->
        <aside class="sidebar-left">
            <nav class="navbar navbar-inverse">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target=".collapse"
                        aria-expanded="false">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <h1><a class="navbar-brand" href="#"><span class="fa fa-database"></span> Review <span class="dashboard_text">Analysis
                                System</span></a></h1>
                </div>
                <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                    <ul class="sidebar-menu">
                        <li class="treeview">
                            <a href="homepage">
                                <i class="fa fa-home"></i> <span>Homepage</span>
                            </a>
                        </li>
                        <li class="treeview">
                            <a href="background">
                                <i class="fa fa-book"></i> <span>Background</span>
                            </a>
                        </li>
                        <li class="treeview">
                            <a href="upload">
                                <i class="fa fa-upload"></i> <span>Upload Database</span>
                            </a>
                        </li>
                        <li class="treeview">
                            <a href="status">
                                <i class="fa fa-book"></i> <span>Database Status</span>
                            </a>
                        </li>
                        <li class="treeview">
                            <a href="analysis">
                                <i class="fa fa-bar-chart"></i> <span>Analysis</span>
                            </a>
                        </li>
                        <li class="treeview">
                            <a href="recommendation">
                                <i class="fa fa-thumbs-o-up"></i> <span>Recommendation</span>
                            </a>
                        </li>
                        <li class="treeview">
                            <a href="acknowledge">
                                <i class="fa fa-book"></i> <span>Acknowledge</span>
                            </a>
                        </li>
                    </ul>
                </div>
                <!-- /.navbar-collapse -->
            </nav>
        </aside>
    </div>
    <!--left-fixed -navigation-->
    <div style="margin-left: 20%; margin-top: 60px; margin-right: 100px;">
        <div class="heading text-center">
            <h4 style="color: #252525;font-size: 24px;">Recommendation System</h4>
            <hr>
        </div>
        <div class="widget-shadow ">
            <div class="form-title">
                <h4 style="text-transform:none;">Please input the user id:</h4>
            </div>
            <div class="form-body">
                <form class="form-horizontal">
                    <div class="form-group">
                        <label class="col-sm-4 control-label" style="font-size:18px;">User ID</label>
                        <div class="col-sm-7">
                            <input style="font-size:18px;" class="form-control" id="user_id" placeholder="Please input the user id">
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-4 control-label" style="font-size:18px;">How many options do you want?</label>
                        <div class="col-sm-7">
                            <input style="font-size:18px;" class="form-control" id="option_num" placeholder="Please input a number">
                        </div>
                    </div>
                    <div class="col-sm-offset-5">
                        <input class="btn btn-danger" name="submit1" type="button" value="&nbsp;&nbsp;Submit&nbsp;&nbsp;" onclick="get_user_id()" />
                    </div>
                </form>
            </div>
        </div>
        <script>
            function get_user_id() {
				var user_info_box = document.getElementById("user_info");
                var user_id = document.getElementById("user_id").value;
                var option_num = document.getElementById("option_num").value;
                var visited  = document.getElementById("visited");
                var para = document.getElementById("recommendation_block");
                var user_id_display = document.getElementById("user_id_display");
                $.post("/recommend/" + user_id+"/"+option_num, function(data, status){
                    // alert(data)
                    // var user_id_display = document.getElementById("user_id_display");
                    var id_content = document.createTextNode("User ID: "+ user_id);
                    var id_h = document.createElement("h5");
                    id_h.style = "text-transform:none;";
                    id_h.appendChild(id_content);
                    user_id_display.appendChild(id_h);
                    var recommend = JSON.parse(data);
                    for (var i = 0; i < option_num; i++){
                        var div = document.createElement("div");
                        div.className = "widget-shadow";
                        var title = document.createElement("div");
                        title.className = "form-title";
                        var body = document.createElement("div");
                        body.className = "form-body";
                        var title_h = document.createElement("h5");
                        title_h.style = "text-transform:none;";
                        var title_content = document.createTextNode("Recommendation "+ String(i+1));
                        title_h.appendChild(title_content);
                        title.appendChild(title_h);
                        var name_content = document.createTextNode("Business name: " + recommend["0"][i]["name"]);
                        var category_content = document.createTextNode("Category: " + recommend["0"][i]["category"]);
                        var stars_content = document.createTextNode("Stars: " + recommend["0"][i]["stars"]);
                        var address_content = document.createTextNode("Address: " + recommend["0"][i]["address"]);
                        var name = document.createElement("h5");
                        name.style = "text-transform:none;";
                        var category = document.createElement("h5");
                        category.style = "text-transform:none;";
                        var stars = document.createElement("h5");
                        stars.style = "text-transform:none;";
                        var address = document.createElement("h5");
                        address.style = "text-transform:none;";
                        name.appendChild(name_content);
                        category.appendChild(category_content);
                        stars.appendChild(stars_content);
                        address.appendChild(address_content);
                        body.appendChild(name);
                        body.appendChild(category);
                        body.appendChild(stars);
                        body.appendChild(address);
                        div.appendChild(title);
                        div.appendChild(body);
                        para.appendChild(div);
                    }
                    // alert(recommend["1"].length)
                    // alert(recommend["1"][0]["name"])
                    for (var i = 0; i < recommend["1"].length; i++){
                        var div = document.createElement("div");
                        div.className = "widget-shadow";
                        var title = document.createElement("div");
                        title.className = "form-title";
                        var body = document.createElement("div");
                        body.className = "form-body";
                        var title_h = document.createElement("h5");
                        title_h.style = "text-transform:none;";
                        var title_content = document.createTextNode("Visited "+ String(i+1));
                        title_h.appendChild(title_content);
                        title.appendChild(title_h);
                        var visited_name_content = document.createTextNode("Business name: " + recommend["1"][i]["name"]);
                        var category_content = document.createTextNode("Category: " + recommend["1"][i]["categories"]);
                        var stars_content = document.createTextNode("Stars: " + recommend["1"][i]["stars"]);
                        var address_content = document.createTextNode("Address: " + recommend["1"][i]["address"]);
                        var visited_name = document.createElement("h5");
                        visited_name.style = "text-transform:none;";
                        var category = document.createElement("h5");
                        category.style = "text-transform:none;";
                        var stars = document.createElement("h5");
                        stars.style = "text-transform:none;";
                        var address = document.createElement("h5");
                        address.style = "text-transform:none;";
                        visited_name.appendChild(visited_name_content);
                        category.appendChild(category_content);
                        stars.appendChild(stars_content);
                        address.appendChild(address_content);
                        body.appendChild(visited_name);
                        body.appendChild(category);
                        body.appendChild(stars);
                        body.appendChild(address);
                        div.appendChild(title);
                        div.appendChild(body);
                        visited.appendChild(div);
                    }
                    user_info_box.style.display = "block";
                    para.style.display = "block";
                })
			}
        </script>
        <br/>
        <br/>
        <div class="col-md-6 media_1-left widget-shadow" style="display: none;" id="user_info">
            <div class="form-title">
                <h4 style="text-transform:none;">User Visit History</h4>
            </div>
            <div class="form-body">
                <div id="user_id_display"></div>
                <br/>
                <br/>
                <div id="visited"></div>
            </div>
        </div>
        <div class="col-md-6" style="display: none;" id="recommendation_block"> 

        </div>
    </div>
</body>

</html>