<!DOCTYPE HTML>
<html>

<head>
	<title>Homepage</title>
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
	<meta name="keywords" content="" />
	<script type="application/x-javascript"> addEventListener("load", function() { setTimeout(hideURLbar, 0); }, false); function hideURLbar(){ window.scrollTo(0,1); } </script>

	<!-- Bootstrap Core CSS -->
	<link href="../static/css/bootstrap.css" rel='stylesheet' type='text/css' />

	<!-- Custom CSS -->
	<link href="../static/css/style.css" rel='stylesheet' type='text/css' />

	<!-- font-awesome icons CSS -->
	<link href="../static/css/font-awesome.css" rel="stylesheet">
	<!-- //font-awesome icons CSS -->

	<!-- side nav css file -->
	<link href='../static/css/SidebarNav.min.css' media='all' rel='stylesheet' type='text/css' />
	<!-- side nav css file -->

	<!-- js-->
	<script src="../static/js/modernizr.custom.js"></script>

	<!--webfonts-->
	<link href="http://fonts.googleapis.com/css?family=PT+Sans:400,400i,700,700i&amp;subset=cyrillic,cyrillic-ext,latin-ext"
	 rel="stylesheet">
	<!--//webfonts-->

	<!-- Metis Menu -->
	<script src="../static/js/metisMenu.min.js"></script>
	<script src="../static/js/custom.js"></script>
	<link href="../static/css/custom.css" rel="stylesheet">
	<!--//Metis Menu -->

	<script src="../static/js/modernizr.js"></script>
	<!-- SLIDER REVOLUTION 4.x CSS SETTINGS
<link rel="stylesheet" type="text/css" href="rs-plugin/rs-plugin/css/settings.css" media="screen" /> -->

	<!-- Bootstrap Core CSS -->
	<link href="../static/css/bootstrap.min.css" rel="stylesheet">
	<!-- Custom CSS -->
	<link href="../static/css/font-awesome.min.css" rel="stylesheet" type="text/css">
	<link href="../static/css/ionicons.min.css" rel="stylesheet">
	<link href="../static/css/main.css" rel="stylesheet">
	<link href="../static/css/style2.css" rel="stylesheet">
	<link href="../static/css/responsive.css" rel="stylesheet">

	<!-- COLORS -->
	<link rel="stylesheet" id="color" href="../static/css/default.css">

</head>

<body class="cbp-spmenu-push" onload="show_status()">
	<div class="cbp-spmenu cbp-spmenu-vertical cbp-spmenu-left main-menu" id="cbp-spmenu-s1">
		<!--left-fixed -navigation-->
		<aside class="sidebar-left">
			<nav class="navbar navbar-inverse">
				<div class="navbar-header">
					<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target=".collapse" aria-expanded="false">
						<span class="sr-only">Toggle navigation</span>
						<span class="icon-bar"></span>
						<span class="icon-bar"></span>
						<span class="icon-bar"></span>
					</button>
					<h1><a class="navbar-brand" href="#"><span class="fa fa-database"></span> Review <span class="dashboard_text">Analysis
								System</span></a></h1>
				</div>
				<div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
					<ul class="sidebar-menu">
						<li class="treeview">
							<a href="homepage">
								<i class="fa fa-home"></i> <span>Homepage</span>
							</a>
						</li>
						<li class="treeview">
							<a href="background">
								<i class="fa fa-book"></i> <span>Background</span>
							</a>
						</li>
						<li class="treeview">
							<a href="upload">
								<i class="fa fa-upload"></i> <span>Upload Database</span>
							</a>
						</li>
						<li class="treeview">
							<a href="status">
								<i class="fa fa-book"></i> <span>Database Status</span>
							</a>
						</li>
						<li class="treeview">
							<a href="analysis">
								<i class="fa fa-bar-chart"></i> <span>Analysis</span>
							</a>
						</li>
						<li class="treeview">
							<a href="recommendation">
								<i class="fa fa-thumbs-o-up"></i> <span>Recommendation</span>
							</a>
						</li>
						<li class="treeview">
							<a href="acknowledge">
								<i class="fa fa-book"></i> <span>Acknowledge</span>
							</a>
						</li>
					</ul>
				</div>
				<!-- /.navbar-collapse -->
			</nav>
		</aside>
	</div>
	<!--left-fixed -navigation-->
	<div class="heading text-center" style="margin-left: 20%; margin-top: 60px; margin-right: 100px;">
		<h4 style="color: #252525;font-size: 24px;">Database Snapshot</h4>
		<hr>
	</div>
	<div id="db_info" style="margin-left: 20%;display:none;margin-bottom: 100px;">

	</div>
	<script>
		function show_status() {
			$.ajax({
				type: "POST",
				url: "/status_content",
				dataType: "json",
				contentType: "application/json",
				data: JSON.stringify(""),
				success: function (data, status) {
					alert("Database create successfully. Pleale look at the creation report.");

					var info = data;

					var div_db = document.createElement("div");
					div_db.className = "widget-shadow";
					var title_db = document.createElement("div");
					title_db.className = "form-title";
					var body_db = document.createElement("div");
					body_db.className = "form-body";
					var title_db_h = document.createElement("h4");
					title_db_h.style = "text-transform:none;";
					var title_db_content = document.createTextNode("Database Information");
					title_db_h.appendChild(title_db_content);
					title_db.appendChild(title_db_h);
					for (var key in info["Database"]) {
						var content = document.createTextNode(key + ": " + String(info["Database"][key]));
						var item = document.createElement("h5");
						item.style = "text-transform:none;";
						item.appendChild(content);
						body_db.appendChild(item);
					}
					div_db.appendChild(title_db);
					div_db.appendChild(body_db)
					var db_info = document.getElementById("db_info");
					db_info.appendChild(div_db);

					var div_collection = document.createElement("div");
					div_collection.className = "widget-shadow";
					var title_collection = document.createElement("div");
					title_collection.className = "form-title";
					var body_collection = document.createElement("div");
					body_collection.className = "form-body";
					var title_collection_h = document.createElement("h4");
					title_collection_h.style = "text-transform:none;";
					var title_collection_content = document.createTextNode("Collection Information");
					title_collection_h.appendChild(title_collection_content);
					title_collection.appendChild(title_collection_h);
					for (var i = 0; i < info["Collection"]['collection_names'].length; i++) {
						var coll_name = info["Collection"]['collection_names'][i];
						var div_item = document.createElement("div");
						div_item.className = "widget-shadow";
						var title_item = document.createElement("div");
						title_item.className = "form-title";
						var body_item = document.createElement("div");
						body_item.className = "form-body";
						var title_item_h = document.createElement("h5");
						title_item_h.style = "text-transform:none;";
						var title_item_content = document.createTextNode(coll_name);
						title_item_h.appendChild(title_item_content);
						title_item.appendChild(title_item_h);
						for (var key in info["Collection"][coll_name]) {
							var content = document.createTextNode(key + ": " + String(info["Collection"][coll_name][key]));
							var coll_item = document.createElement("h5");
							coll_item.style = "text-transform:none;";
							coll_item.appendChild(content);
							body_item.appendChild(coll_item);
						}
						div_item.appendChild(title_item);
						div_item.appendChild(body_item);
						body_collection.appendChild(div_item);
					}
					div_collection.appendChild(title_collection);
					div_collection.appendChild(body_collection);
					db_info.appendChild(div_collection);

					var report_title = document.getElementById("report");
					report_title.style.display = "block";
					db_info.style.display = "block";
				}
			});
		}
	</script>
	<!-- <div style="margin-left: 20%; margin-top: 60px;">
		<ul class="row">
			<li class="col-sm-5">
			</li>
			<li class="col-sm-4">

			</li>
		</ul>
	</div>
	<br>
	<br>
	<div style="margin-left: 20%; margin-top: 60px;">
		<p>Database Name: {{report.Database.db}}</p><br />
		<p>This Database has {{report.Database.collections}} tables.</p><br />
		<p>They are {{report.Collection.collection_names}}</p>
	</div>
	<br>
	<br>
	<br>
	<br> -->
</body>

</html>