<!DOCTYPE HTML>
<html>

<head>
	<title>Upload Database</title>
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
	<meta name="keywords" content="" />
	<script type="application/x-javascript"> addEventListener("load", function() { setTimeout(hideURLbar, 0); }, false); function hideURLbar(){ window.scrollTo(0,1); } </script>
	<script src="https://code.jquery.com/jquery-3.3.1.min.js" integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8="
	 crossorigin="anonymous">
	</script>
	<!-- Bootstrap Core CSS -->
	<link href="../static/css/bootstrap.css" rel='stylesheet' type='text/css' />

	<!-- Custom CSS -->
	<link href="../static/css/style.css" rel='stylesheet' type='text/css' />

	<!-- font-awesome icons CSS -->
	<link href="../static/css/font-awesome.css" rel="stylesheet">
	<!-- //font-awesome icons CSS -->

	<!-- side nav css file -->
	<link href='../static/css/SidebarNav.min.css' media='all' rel='stylesheet' type='text/css' />
	<!-- side nav css file -->

	<!-- js-->
	<script src="../static/js/modernizr.custom.js"></script>

	<!--webfonts-->
	<link href="http://fonts.googleapis.com/css?family=PT+Sans:400,400i,700,700i&amp;subset=cyrillic,cyrillic-ext,latin-ext"
	 rel="stylesheet">
	<!--//webfonts-->

	<!-- Metis Menu -->
	<script src="../static/js/metisMenu.min.js"></script>
	<script src="../static/js/custom.js"></script>
	<link href="../static/css/custom.css" rel="stylesheet">
	<!--//Metis Menu -->

	<link href="../static/css/style2.css" rel="stylesheet">
	<link href="../static/css/pretty-checkbox.css" rel="stylesheet">
	<link href="../static/css/my.css" rel="stylesheet">


</head>

<body class="cbp-spmenu-push">
	<div class="cbp-spmenu cbp-spmenu-vertical cbp-spmenu-left main-menu" id="cbp-spmenu-s1">
		<!--left-fixed -navigation-->
		<aside class="sidebar-left">
			<nav class="navbar navbar-inverse">
				<div class="navbar-header">
					<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target=".collapse" aria-expanded="false">
						<span class="sr-only">Toggle navigation</span>
						<span class="icon-bar"></span>
						<span class="icon-bar"></span>
						<span class="icon-bar"></span>
					</button>
					{% if number %}
					<h1><a class="navbar-brand" href="#"><span class="fa fa-database"></span> Database {{number[1]}}<span class="dashboard_text">Analysis
								System</span></a></h1>
					{% else%}
					<h1><a class="navbar-brand" href="#"><span class="fa fa-database"></span> Database <span class="dashboard_text">Analysis
								System</span></a></h1>
					{% endif %}
				</div>
				<div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
					<ul class="sidebar-menu">
						<li class="header">MAIN NAVIGATION</li>
						<li class="treeview">
							<a href="homepage">
								<i class="fa fa-home"></i> <span>Homepage</span>
							</a>
						</li>
						<li class="treeview">
							<a href="#">
								<i class="fa fa-book"></i> <span>Background</span>
							</a>
						</li>
						<li class="treeview">
							<a href="Upload Database">
								<i class="fa fa-upload"></i> <span>Upload Database</span>
							</a>
						</li>
						<li class="treeview">
							<a href="analysis">
								<i class="fa fa-bar-chart"></i> <span>Analysis</span>
							</a>
						</li>
						<li class="treeview">
							<a href="recommendation">
								<i class="fa fa-thumbs-o-up"></i> <span>Recommendation</span>
							</a>
						</li>
						<li class="treeview">
							<a href="#">
								<i class="fa fa-book"></i> <span>Acknowledge</span>
							</a>
						</li>
					</ul>
				</div>
				<!-- /.navbar-collapse -->
			</nav>
		</aside>
	</div>
	<!--left-fixed -navigation-->
	<div style="margin-left: 20%; margin-top: 30px; margin-right: 100px;">
		<div class="heading text-center">
			<h4 style="color: #252525;font-size: 24px;">Upload Database</h4>
			<hr>
		</div>
		<form method=POST enctype=multipart/form-data action="{{ url_for('upload') }}">
			<div class="col-md-6">
				<input type=file name=dataset>
			</div>
			<div class="col-md-6">
				<input type="submit" class="btn btn-default" value="Submit">
			</div>
		</form>
		<br />
		<br />
		<div class="heading text-center">
			<h4 style="color: #252525;font-size: 24px;">Database Design</h4>
			<hr>
		</div>
		<h4>What table do you want to have?</h4>
		<br />
		<br />
		<div class="pretty p-svg p-curve">
			<input type="checkbox" id="table_business" onclick="exe_open_business()" />
			<div class="state p-success">
				<!-- svg path -->
				<svg width='20px' height='20px' class="svg svg-icon" viewBox="0 5 20 15">
					<path d="M7.629,14.566c0.125,0.125,0.291,0.188,0.456,0.188c0.164,0,0.329-0.062,0.456-0.188l8.219-8.221c0.252-0.252,0.252-0.659,0-0.911c-0.252-0.252-0.659-0.252-0.911,0l-7.764,7.763L4.152,9.267c-0.252-0.251-0.66-0.251-0.911,0c-0.252,0.252-0.252,0.66,0,0.911L7.629,14.566z"
					 style="stroke: white;fill:white;"></path>
				</svg>
				<label style="font-size: 20px;">Business</label>
			</div>
		</div>
		<br />
		<br />
		<div id="business_show" class="widget-shadow " style="display: none; margin-left: 40px;">
			<div class="form-title">
				<h4 style="text-transform:none;">Please choose the columns you want for the "Business" table:</h4>
			</div>
			<br />
			<div style="border-color:#252525;">
				<div class="pretty p-default p-round col-sm-3" style="margin-left: 40px; margin-top: 1.5%;">
					<input type="checkbox" id="business_id_checkbox" />
					<div class="state p-success">
						<label style="font-size: 18px; color: #666666;">business_id</label>
					</div>
				</div>
				<div>
					<label style="font-size: 18px;font-weight: normal; color: #666666;">original name:&nbsp;<input class="input_text_style"
						 type="text" id="business_id" /></label>
				</div>
			</div>
			<hr style="height:1px;border:none;border-top:1px solid #DDDDDD; margin-left: 30px; margin-right: 70px;" />
			<div>
				<div class="pretty p-default p-round col-sm-3" style="margin-left: 40px; margin-top: 1.5%;">
					<input type="checkbox" id="star_checkbox" />
					<div class="state p-success">
						<label style="font-size: 18px; color: #666666;">star</label>
					</div>
				</div>
				<div>
					<label style="font-size: 18px;font-weight: normal; color: #666666;">original name: &nbsp;<input class="input_text_style"
						 type="text" id="star" /></label>
				</div>
			</div>
			<hr style="height:1px;border:none;border-top:1px solid #DDDDDD; margin-left: 30px; margin-right: 70px;" />
			<div>
				<div class="pretty p-default p-round col-sm-3" style="margin-left: 40px; margin-top: 1.5%;">
					<input type="checkbox" id="name_checkbox" />
					<div class="state p-success">
						<label style="font-size: 18px; color: #666666;">name</label>
					</div>
				</div>
				<div>
					<label style="font-size: 18px;font-weight: normal; color: #666666;">original name: &nbsp;<input class="input_text_style"
						 type="text" id="name" /></label>
				</div>
			</div>
			<hr style="height:1px;border:none;border-top:1px solid #DDDDDD; margin-left: 30px; margin-right: 70px;" />
			<div>
				<div class="pretty p-default p-round col-sm-3" style="margin-left: 40px; margin-top: 1.5%;">
					<input type="checkbox" id="latitude_checkbox" />
					<div class="state p-success">
						<label style="font-size: 18px; color: #666666;">latitude</label>
					</div>
				</div>
				<div>
					<label style="font-size: 18px;font-weight: normal; color: #666666;">original name: &nbsp;<input class="input_text_style"
						 type="text" id="latitude" /></label>
				</div>
			</div>
			<hr style="height:1px;border:none;border-top:1px solid #DDDDDD; margin-left: 30px; margin-right: 70px;" />
			<div>
				<div class="pretty p-default p-round col-sm-3" style="margin-left: 40px; margin-top: 1.5%;">
					<input type="checkbox" id="longtitude_checkbox" />
					<div class="state p-success">
						<label style="font-size: 18px; color: #666666;">longtitude</label>
					</div>
				</div>
				<div>
					<label style="font-size: 18px;font-weight: normal; color: #666666;">original name: &nbsp;<input class="input_text_style"
						 type="text" id="longtitude" /></label>
				</div>
			</div>
			<hr style="height:1px;border:none;border-top:1px solid #DDDDDD; margin-left: 30px; margin-right: 70px;" />
			<div>
				<div class="pretty p-default p-round col-sm-3" style="margin-left: 40px; margin-top: 1.5%;">
					<input type="checkbox" id="state_checkbox" />
					<div class="state p-success">
						<label style="font-size: 18px; color: #666666;">state</label>
					</div>
				</div>
				<div>
					<label style="font-size: 18px;font-weight: normal; color: #666666;">original name: &nbsp;<input class="input_text_style"
						 type="text" id="state" /></label>
				</div>
			</div>
			<hr style="height:1px;border:none;border-top:1px solid #DDDDDD; margin-left: 30px; margin-right: 70px;" />
			<div>
				<div class="pretty p-default p-round col-sm-3" style="margin-left: 40px; margin-top: 1.5%;">
					<input type="checkbox" id="city_checkbox" />
					<div class="state p-success">
						<label style="font-size: 18px; color: #666666;">city</label>
					</div>
				</div>
				<div>
					<label style="font-size: 18px;font-weight: normal; color: #666666;">original name: &nbsp;<input class="input_text_style"
						 type="text" id="city" /></label>
				</div>
			</div>
			<hr style="height:1px;border:none;border-top:1px solid #DDDDDD; margin-left: 30px; margin-right: 70px;" />
			<div>
				<div class="pretty p-default p-round col-sm-3" style="margin-left: 40px; margin-top: 1.5%;">
					<input type="checkbox" id="category_checkbox" />
					<div class="state p-success">
						<label style="font-size: 18px; color: #666666;">category</label>
					</div>
				</div>
				<div>
					<label style="font-size: 18px;font-weight: normal; color: #666666;">original name: &nbsp;<input class="input_text_style"
						 type="text" id="category" /></label>
				</div>
			</div>
			<hr style="height:1px;border:none;border-top:1px solid #DDDDDD; margin-left: 30px; margin-right: 70px;" />
			<div>
				<div class="pretty p-default p-round col-sm-3" style="margin-left: 40px; margin-top: 1.5%;">
					<input type="checkbox" />
					<div class="state p-success">
						<label style="font-size: 18px; color: #666666;">zipcode</label>
					</div>
				</div>
				<div>
					<label style="font-size: 18px;font-weight: normal; color: #666666;">original name: &nbsp;<input class="input_text_style"
						 type="text" id="zipcode" /></label>
				</div>
			</div>
			<br />
		</div>
		<script>
			function exe_open_business() {
				// open the selection box for business table
				var is_checked = document.getElementById("table_business").checked;
				var div_business = document.getElementById("business_show");
				if (is_checked == true) {
					div_business.style.display = "block";
				}
				else {
					div_business.style.display = "none";
				}
			}
			function exe_open_user() {
				// open the selection box for business table
				var is_checked = document.getElementById("table_user").checked;
				var div_user = document.getElementById("user_show");
				if (is_checked == true) {
					div_user.style.display = "block";
				}
				else {
					div_user.style.display = "none";
				}
			}
			function exe_open_review() {
				// open the selection box for business table
				var is_checked = document.getElementById("table_review").checked;
				var div_review = document.getElementById("review_show");
				if (is_checked == true) {
					div_review.style.display = "block";
				}
				else {
					div_review.style.display = "none";
				}
			}
		</script>

		<br />
		<div class="pretty p-svg p-curve">
			<input type="checkbox" id="table_user" onclick="exe_open_user()" />
			<div class="state p-success">
				<!-- svg path -->
				<svg width='20px' height='20px' class="svg svg-icon" viewBox="0 5 20 15">
					<path d="M7.629,14.566c0.125,0.125,0.291,0.188,0.456,0.188c0.164,0,0.329-0.062,0.456-0.188l8.219-8.221c0.252-0.252,0.252-0.659,0-0.911c-0.252-0.252-0.659-0.252-0.911,0l-7.764,7.763L4.152,9.267c-0.252-0.251-0.66-0.251-0.911,0c-0.252,0.252-0.252,0.66,0,0.911L7.629,14.566z"
					 style="stroke: white;fill:white;"></path>
				</svg>
				<label style="font-size: 20px;">User</label>
			</div>
		</div>
		<div id="user_show" style="display: none; background-color: #F8FcED; border-radius:10px; width:70%; height:100%; border-color: #252525;border-width: 1px; margin-left: 40px;">
			<br />
			<span style="margin-left: 20px; font-size: 18px;"><b>Please choose the columns you want for the "User" table:</b></span>
			<br />
			<br />
			<div style="border-color:#252525;">
				<div class="pretty p-default p-round col-sm-3" style="margin-left: 40px; margin-top: 1.5%;">
					<input type="checkbox" id="user_id_checkbox" />
					<div class="state p-success">
						<label style="font-size: 18px; color: #666666;">user_id</label>
					</div>
				</div>
				<div>
					<label style="font-size: 18px;font-weight: normal; color: #666666;">original name:&nbsp;<input class="input_text_style"
						 type="text" id="user_id" /></label>
				</div>
			</div>
			<hr style="height:1px;border:none;border-top:1px solid #577906; margin-left: 30px; margin-right: 70px;" />
			<br />
			<br />
		</div>
		<br />
		<br />
		<br />
		<div class="pretty p-svg p-curve">
			<input type="checkbox" id="table_review" onclick="exe_open_review()" />
			<div class="state p-success">
				<!-- svg path -->
				<svg width='20px' height='20px' class="svg svg-icon" viewBox="0 5 20 15">
					<path d="M7.629,14.566c0.125,0.125,0.291,0.188,0.456,0.188c0.164,0,0.329-0.062,0.456-0.188l8.219-8.221c0.252-0.252,0.252-0.659,0-0.911c-0.252-0.252-0.659-0.252-0.911,0l-7.764,7.763L4.152,9.267c-0.252-0.251-0.66-0.251-0.911,0c-0.252,0.252-0.252,0.66,0,0.911L7.629,14.566z"
					 style="stroke: white;fill:white;"></path>
				</svg>
				<label style="font-size: 20px;">Review</label>
			</div>
		</div>
		<div id="review_show" style="display: none; background-color: #F8FcED; border-radius:10px; width:70%; height:100%; border-color: #252525;border-width: 1px; margin-left: 40px;">
			<br />
			<span style="margin-left: 20px; font-size: 18px;"><b>Please choose the columns you want for the "Review" table:</b></span>
			<br />
			<br />
			<div style="border-color:#252525;">
				<div class="pretty p-default p-round col-sm-3" style="margin-left: 40px; margin-top: 1.5%;">
					<input type="checkbox" id="review_id_checkbox" />
					<div class="state p-success">
						<label style="font-size: 18px; color: #666666;">review_id</label>
					</div>
				</div>
				<div>
					<label style="font-size: 18px;font-weight: normal; color: #666666;">original name:&nbsp;<input class="input_text_style"
						 type="text" id="review_id" /></label>
				</div>
			</div>
			<hr style="height:1px;border:none;border-top:1px solid #577906; margin-left: 30px; margin-right: 70px;" />
			<br />
			<br />
		</div>

		<br />
		<div style="margin: 0 auto; width:200px; height:100px;">
			<input class="btn btn-danger" name="submit1" type="button" value="&nbsp;&nbsp;Submit&nbsp;&nbsp;" onclick="submit()" />
		</div>

		<script>
			function submit() {
				alert("click");
				var require = {};
				var business_checked = document.getElementById("table_business").checked;
				if (business_checked == true) {
					alert("business selected");
					require["Business"] = {};
					var business_id_checked = document.getElementById("business_id_checkbox").checked;
					var business_id = document.getElementById("business_id");
					if (business_id_checked == true) {
						require["Business"]["_id"] = business_id.value;
						alert(require["Business"]["_id"]);
					}
					var star_checked = document.getElementById("star_checkbox").checked;
					var star = document.getElementById("star");
					if (star_checked == true) {
						require["Business"]["star"] = star.value;
					}
					// var name_checked = document.getElementById("name_checkbox").checked;
					// var name = document.getElementById("name");
					// if (name_checked == true) {
					// 	require["Business"]["name"] = name.value;
					// }
					// var latitude_checked = document.getElementById("latitude_checkbox").checked;
					// var latitude = document.getElementById("latitude");
					// if (latitude_checked == true) {
					// 	require["Business"]["latitude"] = latitude.value;
					// }
					// var longtitude_checked = document.getElementById("longtitude_checkbox").checked;
					// var longtitude = document.getElementById("longtitude");
					// if (longtitude_checked == true) {
					// 	require["Business"]["longtitude"] = longtitude.value;
					// }
					// var state_checked = document.getElementById("state_checkbox").checked;
					// var state = document.getElementById("state");
					// if (state_checked == true) {
					// 	require["Business"]["state"] = state.value;
					// }
					// var city_checked = document.getElementById("city_checkbox").checked;
					// var city = document.getElementById("city");
					// if (city_checked == true) {
					// 	require["Business"]["city"] = city.value;
					// }
					// var category_checked = document.getElementById("category_checkbox").checked;
					// var category = document.getElementById("category");
					// if (category_checked == true) {
					// 	require["Business"]["category"] = category.value;
					// }
					// var zipcode_checked = document.getElementById("zipcode_checkbox").checked;
					// var zipcode = document.getElementById("zipcode");
					// if (zipcode_checked == true) {
					// 	require["Business"]["zipcode"] = zipcode.value;
					// }

				}
				$.ajax({
					type: "POST",
					url: "http://vcm-6828.vm.duke.edu:5000/requirement",
					dataType: "json",
					contentType: "application/json",
					data: JSON.stringify(require),
					success: function (data) {
						alert("success");
					}
				});
			}
		</script>

	</div>


</body>